{% extends 'base.html.twig' %}


{% block body %}

        <link href="css/a.css" rel="stylesheet" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<body>
<div class="example-wrapper">
<nav id="navbar">
    <!-- Navbar Logo -->
    <div class="logo">
    
  
     
       <img style=" margin-top:0.5em; margin-left:-15em; border-radius:5em; width:80px ; height:80px;" height="100" width="100" src="img/log.jpg" alt="..." class="img2" />
    </div>


    <!-- Navbar Links -->
    <ul id="menu">
      <li><a href="home">Home</a></li><!--
   --><li><a href="client">Client List</a></li><!--
   --><li><a href="affaire">Cases List</a></li><!--
   --><li><a href="typeaffaire">case type list</a></li><!--
   --><li><a href="dossier">client files List</a></li><!--
   --><li><a href="rdv">Appointments List</a></li>
   <li><a href="admin">Admin</a></li>
   <li><a href="login">Logout</a></li>
    </ul>
  </div>
</nav>
</div>
</body>
<center><h1><p>Hello Admin</p>
You have all the rights to add, delete, modify clients, files and appointments </h1></center>
<div class="img">
<img src="img/aa.jpg" style="width:100% ; height:100%;" alt="..." /></div>
 
 
<footer> 


  
<div class="fb">
    <ul >
      <li><a href="https://www.facebook.com/"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
      <li><a href="https://www.instagram.com/?hl=en"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
      <li><a href="https://www.pinterest.com/"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
      <li><a href="https://twitter.com/?lang=en"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
    </ul>
</div>
</footer>
{% endblock %}

