

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

        <link href="css/rdvv.css" rel="stylesheet" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<body>
<div class="example-wrapper">
<nav id="navbar" class="">
  <div class="nav-wrapper">
    <!-- Navbar Logo -->
    <div class="logo">
    
  
            <img style=" margin-top:0.5em;  border-radius:5em; width:80px ; height:80px;" height="100" width="100" src="img/log.jpg" alt="..." class="img2" />
    </div>

    <!-- Navbar Links -->
    <ul id="menu">
      <li><a href="home">Home</a></li><!--
   --><li><a href="about">about us</a></li><!--
   --><li><a href="vieww">profil</a></li><!--
   --><li><a href="rdvv">Appointments</a></li>
   <li><a href="login">Logout</a></li>
    </ul>
  </div>
</nav>
</div>
<div class="images">
<h1><center> 
    <p class="p2"> <a href="client/inscrit"> <img src="img/inscrip.png" alt="..." /></br>new customer</a></p>
     
                       
                  <p class="p2">  <a  href="rdv/index2"> <img src="img/rdv.jpg" alt="..." /></br>Already customer</a></p>
      </center>
                       </h1></div>
<div class="img">
<img src="img/aa.jpg" alt="..." /></div>
 </body>
<footer> 


    <!-- Navbar Links -->
    <ul>
      <li><a href="about">about nous</li><!--
   -
   --><li><a href="vieww">Services</a></li>
   <li>Copyright &copy; Helping 2021</li>
    </ul>
<div class="fb">
    <ul >
      <li><a href="https://www.facebook.com/"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
      <li><a href="https://www.instagram.com/?hl=en"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
      <li><a href="https://www.pinterest.com/"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
      <li><a href="https://twitter.com/?lang=en"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
    </ul>
</div>
</footer>



                       
{% endblock %}
