* {
    border: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
   h1 {
  
  width: 30em;
   opacity: 0.9;
     margin-top: 5em;
      margin-bottom:-15.5em;
    font-style: oblique;
    margin-left: 2em;
    line-height: 2;
    border-color: black;
   text-shadow:0 0 2px black,0 0 30px black,5px 9px 5px #333, 0 0 150px black;color:White;
  }
  
  p{
     text-shadow:0 0 2px black,0 0 30px black,5px 9px 5px #333, 0 0 150px black;color:red; }
  .fb {
    margin-left: 75em;
    margin-top: -30em;  
  }
   .about {
    margin-top: -2em;  
  }
  i:hover{font-weight: bold;
    color:white;} 
     body {   
      background-repeat: repeat;
  }
  a {
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    text-decoration: none;
  }
  
  
  /*======================================================
                            Navbar
    ======================================================*/
  #navbar {
  
    position: fixed;
    top: 0;
    right:-20em;
    height: 60px;
    line-height: 60px;
    width: 100vw;
    z-index: 10;
  }
  
  .nav-wrapper {
    margin: auto;
    text-align: center;
    width: 70%;
  } 
  
  .logo {
    float: left;
    height: 60px;
    letter-spacing: 1px;
    text-transform: uppercase;
  } @media(max-width: 768px) {
   
    }
  
  
  
  #navbar li {
    display: inline-block;
  }
  ul{list-style-type: none;}
  footer li{ color: white;
    display: block;
    font-size: 0.7em;
    height: 50px;
    letter-spacing: 1px;
    margin: 0 20px;
    padding: 0 4px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    display: inline-block;
    margin-left: 2em;}
  #navbar li a {
    color: black;
    display: block;
    font-size: 0.7em;
    height: 50px;
    letter-spacing: 1px;
    margin: 0 20px;
    padding: 0 4px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
  }
  
  #navbar li a:hover {
    /* border-bottom: 1px solid rgb(28, 121, 184); */
    color: rgb(28, 121, 184);
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
  }
  
  /* Animated Bottom Line */
  #navbar li a:before, #navbar li a:after {
    content: '';
    position: absolute;
    width: 0%;
    height: 1px;
    bottom: -1px;
    background: rgb(13, 26, 38);
  }
  
  #navbar li a:before {
    left: 0;
    transition: 0.5s;
  }
  
  #navbar li a:after {
    background: rgb(13, 26, 38);
    right: 0;
    /* transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1); */
  }
  
  #navbar li a:hover:before {
    background: rgb(13, 26, 38);
    width: 100%;
    transition: width 0.5s cubic-bezier((0.22, 0.61, 0.36, 1));
  }
  
  #navbar li a:hover:after {
    background: transparent;
    width: 100%;
    /* transition: 0s; */
  }
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

    margin: auto;
    text-align: center;
    background-color: black;
  }
  

  
  button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  .cc a {
      background-color: black;
      color: black;
      border: 1px solid black;
     
      border: chocolate;
    text-decoration: none;
    font-size: 22px;
    color: white;
  }
 button a {
    text-decoration: none;
    font-size: 22px;
    color: white;
  }
  
  button:hover, a:hover {
    opacity: 0.7;
  }
  